# cluster-firewall-template.jinja
#
# Copyright (C) 2013-2015, Levyx, Inc.
#
#  NOTICE:  All information contained herein is, and remains the property of
#  Levyx, Inc.  The intellectual and technical concepts contained herein are
#  proprietary to Levyx, Inc. and may be covered by U.S. and Foreign Patents,
#  patents in process, and are protected by trade secret or copyright law.
#  Dissemination of this information or reproduction of this material is
#  strictly forbidden unless prior written permission is obtained from Levyx,
#  Inc.  Access to the source code contained herein is hereby forbidden to
#  anyone except current Levyx, Inc. employees, managers or contractors who
#  have executed Confidentiality and Non-disclosure agreements explicitly
#  covering such access.
#

{% set network = properties["instanceNetwork"] %}

resources:
- name: {{ env["name"] }}
  type: compute.v1.firewall
  properties:
    network: $(ref.{{ network }}.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: ["8080", "4040", "22", "80", "433"]
