<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>sonatype-nexus-snapshots</id>
      <username>zenfractal</username>
      <password>pJpA9ZdrrGUG7o</password>
    </server>
    <server>
      <id>sonatype-nexus-staging</id>
      <username>zenfractal</username>
      <password>pJpA9ZdrrGUG7o</password>
    </server>
  </servers>
</settings>
