# Core
/airflow/executors/ @kaxil @XD-DENG @ashb
/airflow/jobs/ @kaxil @ashb @XD-DENG
/airflow/models/ @kaxil @XD-DENG @ashb

# DAG Serialization
/airflow/serialization/ @kaxil @ashb

# DAG Parsing
/airflow/dag_processing @jedcunningham @ephraimbuddy

# Kubernetes
/airflow/kubernetes/ @dstandish @jedcunningham
/airflow/kubernetes_executor_templates/ @dstandish @jedcunningham
/airflow/executors/celery_kubernetes_executor.py @dstandish @jedcunningham
/airflow/executors/kubernetes_executor.py @dstandish @jedcunningham

# Helm Chart
/chart/ @dimberman @ashb @kaxil @jedcunningham


# Docs
/docs/ @mik-laj @vikramkoka

# Docs (without Providers)
/docs/apache-airflow @kaxil @potiuk
/docs/docker-stack @potiuk
/docs/helm-chart @kaxil @jedcunningham
/docs/*.py @kaxil @potiuk

# API
/airflow/api/ @mik-laj @ephraimbuddy
/airflow/api_connexion/ @mik-laj @ephraimbuddy

# UI
/airflow/ui/ @ryanahamilton @ashb @bbovenzi

# WWW
/airflow/www/ @ryanahamilton @ashb @bbovenzi

# Security/Permissions
/airflow/security/permissions.py @jhtimmins
/airflow/www/security.py @jhtimmins
/airflow/api_connexion/security.py @jhtimmins

# Calendar/Timetables
/airflow/timetables/ @uranusjr
/docs/apache-airflow/concepts/timetable.rst @uranusjr

# Async Operators & Triggerer
/airflow/jobs/triggerer_job.py @dstandish
/airflow/cli/commands/triggerer_command.py @dstandish
/airflow/models/trigger.py @dstandish
/docs/apache-airflow/concepts/deferring.rst @dstandish

# Secrets Backends
/airflow/secrets  @dstandish @kaxil @potiuk @ashb

# Providers
/airflow/providers/google/ @turbaszek
/airflow/providers/snowflake/ @turbaszek @potiuk @mik-laj

# Dev tools
/.github/workflows/ @potiuk @ashb @kaxil
breeze @potiuk
breeze-complete @potiuk
Dockerfile @potiuk @ashb @mik-laj
Dockerfile.ci @potiuk @ashb
/dev/ @potiuk @ashb @kaxil  @jedcunningham
/provider_packages/ @potiuk @ashb
/scripts/ @potiuk @ashb @mik-laj
/docker_tests/ @potiuk @ashb @mik-laj
