root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100

[*.{scala,java,sbt}]
indent_size = 2

[*.py]
indent_size = 4

[*.{yml,yaml}]
indent_size = 2

[*.R]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
