root = true

[*]
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.py]
indent_size = 4

[*.sh]
indent_size = 4

[*.sql]
indent_size = 4

[*.js]
indent_size = 2

[*.css]
indent_size = 2

[*.{md,rst}]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.{htm,html}]
indent_size = 2
