.idea/*
*.bkp
*.egg-info
*.pyc
.DS_Store
.ipynb*
.coverage
.python-version
airflow/git_version
airflow/www/static/coverage/
airflow.db
airflow.cfg
airflow_login.py
build
cover
dbinit.py
docs/_*
dist
env
initdb.py
logs
MANIFEST
secrets.py
sftp-config.json
unittests.cfg
error.log
unittests.db
rat-results.txt
/.eggs/
/.tox/
venv
