[submodule ".github/actions/get-workflow-origin"]
	path = .github/actions/get-workflow-origin
	url = https://github.com/potiuk/get-workflow-origin
[submodule ".github/actions/cancel-workflow-runs"]
	path = .github/actions/cancel-workflow-runs
	url = https://github.com/potiuk/cancel-workflow-runs
[submodule ".github/actions/checks-action"]
	path = .github/actions/checks-action
	url = https://github.com/LouisBrunner/checks-action
[submodule ".github/actions/configure-aws-credentials"]
	path = .github/actions/configure-aws-credentials
	url = https://github.com/aws-actions/configure-aws-credentials
[submodule ".github/actions/codecov-action"]
	path = .github/actions/codecov-action
	url = https://github.com/codecov/codecov-action
[submodule ".github/actions/github-push-action"]
	path = .github/actions/github-push-action
	url = https://github.com/ad-m/github-push-action
[submodule ".github/actions/label-when-approved-action"]
	path = .github/actions/label-when-approved-action
	url = https://github.com/TobKed/label-when-approved-action
