#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
sudo: true
dist: trusty
language: python
jdk:
  - oraclejdk8
services:
  - mysql
  - postgresql
  - rabbitmq
addons:
  apt:
    packages:
      - slapd
      - ldap-utils
      - openssh-server
      - mysql-server-5.6
      - mysql-client-core-5.6
      - mysql-client-5.6
      - krb5-user
      - krb5-kdc
      - krb5-admin-server
      - python-selinux
  postgresql: "9.2"
python:
  - "2.7"
  - "3.5"
env:
  global:
    - TRAVIS_CACHE=$HOME/.travis_cache/
    - KRB5_CONFIG=/etc/krb5.conf
    - KRB5_KTNAME=/etc/airflow.keytab
    # Travis on google cloud engine has a global /etc/boto.cfg that
    # does not work with python 3
    - BOTO_CONFIG=/tmp/bogusvalue
  matrix:
    - TOX_ENV=py27-backend_mysql
    - TOX_ENV=py27-backend_sqlite
    - TOX_ENV=py27-backend_postgres
    - TOX_ENV=py35-backend_mysql
    - TOX_ENV=py35-backend_sqlite
    - TOX_ENV=py35-backend_postgres
    - TOX_ENV=flake8
    - TOX_ENV=py27-backend_postgres KUBERNETES_VERSION=v1.8.0
    - TOX_ENV=py35-backend_postgres KUBERNETES_VERSION=v1.9.0
matrix:
  exclude:
    - python: "3.5"
      env: TOX_ENV=py27-backend_mysql
    - python: "3.5"
      env: TOX_ENV=py27-backend_sqlite
    - python: "3.5"
      env: TOX_ENV=py27-backend_postgres
    - python: "2.7"
      env: TOX_ENV=py35-backend_mysql
    - python: "2.7"
      env: TOX_ENV=py35-backend_sqlite
    - python: "2.7"
      env: TOX_ENV=py35-backend_postgres
    - python: "2.7"
      env: TOX_ENV=flake8
    - python: "3.5"
      env: TOX_ENV=py27-backend_postgres KUBERNETES_VERSION=v1.8.0
    - python: "2.7"
      env: TOX_ENV=py35-backend_postgres KUBERNETES_VERSION=v1.9.0
  allow_failures:
    - env: TOX_ENV=py27-backend_postgres KUBERNETES_VERSION=v1.8.0
    - env: TOX_ENV=py35-backend_postgres KUBERNETES_VERSION=v1.9.0
cache:
  directories:
    - $HOME/.wheelhouse/
    - $HOME/.travis_cache/
before_install:
  - yes | ssh-keygen -t rsa -C your_email@youremail.com -P '' -f ~/.ssh/id_rsa
  - cat ~/.ssh/id_rsa.pub >> ~/.ssh/authorized_keys
  - ln -s ~/.ssh/authorized_keys ~/.ssh/authorized_keys2
  - chmod 600 ~/.ssh/*
  - sudo add-apt-repository -y ppa:webupd8team/java
  - sudo apt-get update
  - sudo apt-get install -y oracle-java8-installer || true
  #todo remove this kludge and the above || true when the ppa is fixed
  - cd /var/lib/dpkg/info
  - sudo sed -i 's|JAVA_VERSION=8u161|JAVA_VERSION=8u172|' oracle-java8-installer.*
  - sudo sed -i 's|PARTNER_URL=http://download.oracle.com/otn-pub/java/jdk/8u161-b12/2f38c3b165be4555a1fa6e98c45e0808/|PARTNER_URL=http://download.oracle.com/otn-pub/java/jdk/8u172-b11/a58eab1ec242421181065cdc37240b08/|' oracle-java8-installer.*
  - sudo sed -i 's|SHA256SUM_TGZ="6dbc56a0e3310b69e91bb64db63a485bd7b6a8083f08e48047276380a0e2021e"|SHA256SUM_TGZ="28a00b9400b6913563553e09e8024c286b506d8523334c93ddec6c9ec7e9d346"|' oracle-java8-installer.*
  - sudo sed -i 's|J_DIR=jdk1.8.0_161|J_DIR=jdk1.8.0_172|' oracle-java8-installer.*
  - sudo apt-get update
  - sudo apt-get install -y oracle-java8-installer
  - jdk_switcher use oraclejdk8
  - cd $TRAVIS_BUILD_DIR
install:
  - pip install --upgrade pip
  - pip install tox
  - pip install codecov
before_script:
  - cat "$TRAVIS_BUILD_DIR/scripts/ci/my.cnf" | sudo tee -a /etc/mysql/my.cnf
  - mysql -e 'drop database if exists airflow; create database airflow' -u root
  - sudo service mysql restart
  - psql -c 'create database airflow;' -U postgres
  - export PATH=${PATH}:/tmp/hive/bin
script:
  - ./scripts/ci/travis_script.sh
after_success:
  - codecov
