# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
---
dist: bionic
language: python
env:
  global:
    - BUILD_ID=${TRAVIS_BUILD_ID}
    - MOUNT_LOCAL_SOURCES="false"
    - AIRFLOW_MOUNT_HOST_VOLUMES_FOR_STATIC_CHECKS="true"
    - FORCE_ANSWER_TO_QUESTIONS="yes"
    - AIRFLOW_CI_SILENT="true"
    - CI="true"
python: "3.6"
stages:
  - pre-test
  - test
jobs:
  include:
    - name: "Static checks"
      stage: pre-test
      script: ./scripts/ci/ci_run_all_static_tests.sh
      env: >-
        PYTHON_VERSION=3.6
        AIRFLOW_MOUNT_SOURCE_DIR_FOR_STATIC_CHECKS="true"
    - name: "Build documentation"
      env: >-
        PYTHON_VERSION=3.6
      stage: pre-test
      script: ./scripts/ci/ci_docs.sh
    - name: "Tests [Postgres][3.6][Kubernetes][persistent]"
      env: >-
        BACKEND=postgres
        PYTHON_VERSION=3.6
        RUNTIME=kubernetes
        ENABLE_KIND_CLUSTER=true
        KUBERNETES_MODE=persistent_mode
        KUBERNETES_VERSION=v1.15.3
      python: "3.6"
      stage: test
    - name: "Tests [Postgres][3.7][Kubernetes][git]"
      env: >-
        BACKEND=postgres
        PYTHON_VERSION=3.7
        RUNTIME=kubernetes
        ENABLE_KIND_CLUSTER=true
        KUBERNETES_MODE=git_mode
        KUBERNETES_VERSION=v1.15.3
      python: "3.6"
      stage: test
    - name: "Tests [Postgres][3.6][integrations]"
      env: >-
        BACKEND=postgres
        PYTHON_VERSION=3.6
        ENABLED_INTEGRATIONS="cassandra kerberos mongo openldap rabbitmq redis"
        RUN_INTEGRATION_TESTS=all
      stage: test
    - name: "Tests [Postgres][3.6]"
      env: >-
        BACKEND=postgres
        PYTHON_VERSION=3.6
      stage: test
    - name: "Tests [Sqlite][3.7][integrations]"
      env: >-
        BACKEND=sqlite
        PYTHON_VERSION=3.7
        ENABLED_INTEGRATIONS="cassandra kerberos mongo openldap rabbitmq redis"
        RUN_INTEGRATION_TESTS=all
      stage: test
    - name: "Tests [Sqlite][3.6]"
      env: >-
        BACKEND=sqlite
        PYTHON_VERSION=3.6
      stage: test
    - name: "Tests [MySQL][3.6][integrations]"
      env: >-
        BACKEND=mysql
        PYTHON_VERSION=3.6
        ENABLED_INTEGRATIONS="cassandra kerberos mongo openldap rabbitmq redis"
        RUN_INTEGRATION_TESTS=all
      stage: test
      script: ./scripts/ci/ci_run_airflow_testing.sh tests/tests_core.py
    - name: "Tests [MySQL][3.7][kerberos]"
      env: >-
        BACKEND=mysql
        ENABLED_INTEGRATIONS="kerberos"
        PYTHON_VERSION=3.7
      stage: test
  services:
    - docker
before_install:
  - ./scripts/ci/ci_before_install.sh
script: ./scripts/ci/ci_run_airflow_testing.sh
