#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

include NOTICE
include LICENSE
include CHANGELOG.txt
include README.md
graft licenses
graft airflow/www
graft airflow/www/static
graft airflow/www/templates
graft scripts/systemd
graft scripts/upstart
graft airflow/config_templates
recursive-exclude airflow/www/node_modules *
global-exclude __pycache__  *.pyc
include airflow/alembic.ini
include airflow/api_connexion/openapi/v1.yaml
include airflow/git_version
include airflow/provider.yaml.schema.json
include airflow/customized_form_field_behaviours.schema.json
include airflow/serialization/schema.json
include airflow/utils/python_virtualenv_script.jinja2
