celery
chartkick
dill
flake8
flask
flask-admin
flask-bootstrap
flask-cache
flask-login
flower
hive-thrift-py
ipython[all]
jinja2
librabbitmq
markdown
mysql-python
pandas
pygments
pyhive
PySmbClient
python-dateutil
requests
setproctitle
snakebite
sphinx
sphinx-argparse
sphinx_rtd_theme
Sphinx-PyPI-upload
sqlalchemy
thrift
