alembic
boto
celery
chartkick
cryptography
coverage
dill
flake8
flask
flask-admin
flask-cache
flask-login
flower
future
hive-thrift-py
ipython[all]
jinja2
librabbitmq
markdown
mysql-python
nose
pandas
pygments
pyhive
pydruid
PySmbClient
python-dateutil
pyhs2
redis
requests
setproctitle
statsd
#snakebite -> not compatible with Python 3
sphinx
sphinx-argparse
sphinx_rtd_theme
Sphinx-PyPI-upload
sqlalchemy
thrift
jaydebeapi
#pymssql
unicodecsv
slackclient
