celery
chartkick
flake8
flask
flask-admin
flask-bootstrap
flask-cache
flask-login
hive-thrift-py
ipython[all]
jinja2
markdown
mysql-python
pandas
pygments
pyhive
python-dateutil
requests
setproctitle
sphinx
sphinx_rtd_theme
sqlalchemy
thrift
