# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
#
# examples:
# *       @global-owner
# *.js    @js-owner
# /docs/  @doctocat
# *.go    @org/team-name

* @Jiri-Kremser
