# testing
flake8
pycodestyle

# dev/release tools
jira
pip-tools
PyGithub
Unidecode

# docs
mkdocs
sphinx

# PySpark
# It's difficult to compile dependencies by directly referencing
# python/setup.py due to a limitation of pip-tools.
# See: https://github.com/jazzband/pip-tools/issues/908
numpy
pandas
pyarrow
