{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}

# Package {{ PACKAGE_PIP_NAME }}

Release: {{ RELEASE_NO_LEADING_ZEROS }}

**Table of contents**

- [Provider package](#provider-package)
- [Installation](#installation)
{%- if PIP_REQUIREMENTS %}
- [PIP requirements](#pip-requirements)
{%- endif %}
{%- if CROSS_PROVIDERS_DEPENDENCIES %}
- [Cross provider package dependencies](#cross-provider-package-dependencies)
{%- endif %}
- [Provider class summary](#provider-classes-summary)
{%- for entity_type in ENTITY_TYPES %}
{%- set entity_name = ENTITY_NAMES.get(entity_type) %}
{%- set entity_type_string = entity_name.replace(" ", "-") %}
{%- set entity_summary = ENTITIES.get(entity_type) %}
{%- if entity_summary.new_entities or entity_summary.moved_entities %}
    - [{{ entity_name.capitalize() }}](#{{ entity_type_string.lower() }})
    {%- if entity_summary.new_entities %}
        - [New {{ entity_name.lower() }}](#new-{{ entity_type_string.lower() }})
    {%- endif %}
    {%- if entity_summary.moved_entities %}
        - [Moved {{ entity_name.lower() }}](#moved-{{ entity_type_string.lower() }})
    {%- endif %}
{%- endif %}
{%- endfor %}
- [Releases](#releases)
    {%- for release in RELEASES %}
    - [Release {{release.release_version_no_leading_zeros}}](#release-{{release.release_version_no_leading_zeros.replace(".","")}})
    {%-  endfor %}

## Provider package

This is a provider package for `{{PROVIDER_PACKAGE_ID}}` provider. All classes for this provider package
are in `{{FULL_PACKAGE_NAME}}` python package.

{{ ADDITIONAL_INFO }}

## Installation

You can install this package on top of an existing airflow 2.* installation via
`pip install {{PACKAGE_PIP_NAME}}`

{%- if PIP_REQUIREMENTS %}

## PIP requirements

{{  PIP_REQUIREMENTS_TABLE }}

{%- endif %}
{%- if CROSS_PROVIDERS_DEPENDENCIES %}

## Cross provider package dependencies

Those are dependencies that might be needed in order to use all the features of the package.
You need to install the specified backport providers package in order to use them.

You can install such cross-provider dependencies when installing from PyPI. For example:

```bash
pip install {{ PACKAGE_PIP_NAME }}[{{ CROSS_PROVIDERS_DEPENDENCIES[0] }}]
```

{{ CROSS_PROVIDERS_DEPENDENCIES_TABLE }}

{%- endif %}
