# This line is to avoid accidental commits of example dags for integration testing
# In order to test example dags easily we often create symbolic links in this directory
# and run the Airflow with AIRFLOW__CORE__UNIT_TEST_MODE=True
# this line prevents accidental committing of such symbolic links.
example_*
