# comments are not ---

pyparsing==2.4.7

# --- considered as packages

{% if params and params.environ and params.environ == 'templated_unit_test' %}
    funcsigs==1.0.2
{% else %}
    funcsigs==0.4
{% endif %}

python-dateutil==2.8.1    # including inline comments
pytz==2020.1
