#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

alembic
azure-storage>=0.34.0
bcrypt
bleach
boto
boto3
celery
cgroupspy
chartkick
cloudant
coverage
coveralls
croniter>=0.3.17
cryptography
datadog
dill
distributed
docker-py
filechunkio
flake8
flask
flask-admin
flask-bcrypt
flask-cache
flask-login==0.2.11
Flask-WTF
flower
freezegun
future
google-api-python-client>=1.5.0,<1.6.0
gunicorn
hdfs
hive-thrift-py
impyla
ipython
jaydebeapi
jinja2<2.9.0
jira
ldap3
lxml
markdown
mock
moto
mysqlclient
nose
nose-exclude
nose-ignore-docstring==0.2
nose-timer
oauth2client>=2.0.2,<2.1.0
pandas
pandas-gbq
parameterized
psutil>=4.2.0, <5.0.0
psycopg2
pydruid
pygments
pyhive
pykerberos
PyOpenSSL
PySmbClient
python-daemon
python-dateutil
qds-sdk>=1.9.6
redis
rednose
requests
requests-kerberos
setproctitle
slackclient
sphinx
sphinx-argparse
Sphinx-PyPI-upload
sphinx_rtd_theme
sqlalchemy
statsd
thrift
thrift_sasl
unicodecsv
zdesk
