alembic
bcrypt
boto
celery
chartkick
cloudant
coverage
coveralls
croniter
cryptography
dill
docker-py
filechunkio
flake8
flask
flask-admin
flask-bcrypt
flask-cache
flask-login==0.2.11
Flask-WTF
flower
future
gunicorn
hdfs
hive-thrift-py
impyla
ipython
jaydebeapi
jinja2<2.9.0
ldap3
lxml
markdown
mock
mysqlclient
nose
nose-exclude
nose-ignore-docstring==0.2
nose-parameterized
pandas
psutil>=4.2.0, <5.0.0
psycopg2
pydruid
pygments
pyhive
pykerberos
PyOpenSSL
PySmbClient
python-daemon
python-dateutil
redis
requests
requests-kerberos
setproctitle
slackclient
sphinx
sphinx-argparse
Sphinx-PyPI-upload
sphinx_rtd_theme
sqlalchemy
statsd
thrift
thrift_sasl
unicodecsv
