/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


.graph {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: gray;
  shape-rendering: crispEdges;
}

.axis text {
  fill: gray;
}

.tooltip-inner {
  max-width: 500px !important; /* Make sure we only have one line tooltip */
}

.line {
  fill: none;
  stroke: #0088cc;
  stroke-width: 1.5px;
}

.bar rect {
  fill: #0088cc;
  shape-rendering: crispEdges;
}

.bar rect:hover {
  fill: #00c2ff;
}

.timeline {
  width: 500px;
}

.histogram {
  width: auto;
}

span.expand-input-rate {
  cursor: pointer;
}

tr.batch-table-cell-highlight > td {
  background-color: #D6FFE4 !important;
}
