[Default]
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# general settings

# the username to use to connect to cluster nodes
ssh.username = user
# the maximum number of SSH connections to keep open at any time
max.connections = 2
# the directory in which FailMon lies 
failmon.dir = /home/user/hadoop-core-trunk/src/contrib/failmon
# the maximum number of HDFS files to allow FailMon to create. After
# this limit is surpassed, all HDFS files will be concatenated into
# one file.
hdfs.files.max = 100

# iteration intervals
log.hadoop.interval = 0
log.system.interval = 0
nics.interval = 10
cpu.interval = 10
disks.interval = 0
sensors.interval = 0
upload.interval = 20
