/* Dynamically injected style for the API docs */

.developer {
  background-color: #44751E;
}

.experimental {
  background-color: #257080;
}

.badge {
  font-family: Arial, san-serif;
  float: right;
}
