/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar .brand {
  background: url(../img/spark-logo-77x50px-hd.png) no-repeat left center;
  height: 50px;
  width: 77px;
  margin-left: 1px;
  padding: 0 10px 0 0;
}

.navbar-inner {
  padding-top: 2px;
  height: 50px;
}

.navbar-inner .nav {
  margin-top: 5px;
  font-size: 15px;
}

body #content {
  line-height: 1.6; /* Inspired by Github's wiki style */
}

.title {
  font-size: 32px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

code {
  font-family: "Menlo", "Lucida Console", monospace;
  background: white;
  border: none;
  padding: 0;
  color: #902000;
}

a code {
  color: #0088cc;
}

pre {
  font-family: "Menlo", "Lucida Console", monospace;
}

.container {
  max-width: 914px;
}

/**
 * Make dropdown menus in nav bars show on hover instead of click
 * using solution at http://stackoverflow.com/questions/8878033/how-
 * to-make-twitter-bootstrap-menu-dropdown-on-hover-rather-than-click
 **/
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}
a.menu:after, .dropdown-toggle:after {
  content: none;
}

