# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[metadata]
name = Airflow Backport provider: apache-airflow-backport-providers-hashicorp
summary = Backport provider for Apache Airflow. Implements apache-airflow-backport-providers-hashicorp package
description-file = README.md
author = Apache Airflow PMC
author-email = dev@airflow.apache.org
license = Apache License, Version 2.0
license_files =
   LICENSE
   NOTICE

[bdist_wheel]
python-tag=py3

[files]
packages = airflow.providers.hashicorp

[easy_install]

[mypy]
ignore_missing_imports = True
no_implicit_optional = True
warn_redundant_casts = True
warn_unused_ignores = False
pretty = True

[isort]
line_length=110
combine_as_imports = true
default_section = THIRDPARTY
include_trailing_comma = true
known_first_party=airflow,tests
multi_line_output=5
profile = "black"
