{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-#}
{% if slack_rc -%}
@here We've just released {{ project_name }} {{ version }} :tada:
:package: https://pypi.org/project/{{ project_module }}/{{ version }}/
:books: https://{{ project_module }}.apache.org/docs/{{ version }}/
:hammer_and_wrench: https://{{ project_module }}.apache.org/docs/{{ version }}/changelog.html
{% else -%}
@here  Hot off the press :hotsprings: :fire: {{ project_name }} {{ version_rc }} available for testing.

Snapshots have been uploaded on PyPI too: `pip install {{ project_module }}=={{ version_rc }}`
**ChangeLog:** https://github.com/apache/{{ project_module }}/blob/{{ version_rc }}/CHANGELOG.txt

Please let us know if you have any issues on {{ receiver_email }}
{%- endif %}
