[Unit]
Description=Spark Slave
Requires=network.target
After=network.target

[Service]
Environment="SPARK_DONT_DAEMONIZE=1"
ExecStart=/usr/share/apache-spark/sbin/start-instance.sh %i
User=apache-spark
Group=apache-spark

[Install]
DefaultInstance=1