{% extends "airflow/dag.html" %}
{% block title %}Airflow - DAGs{% endblock %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='tree.css') }}">
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{{ super() }}
<div style="float: left" class="form-inline">
    <form method="get" style="float:left;">
        Base date: {{ form.base_date(class_="form-control") }}
        Number of runs: {{ form.num_runs(class_="form-control") }}
        <input type="hidden" name="root" value="{{ root if root else '' }}">
        <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
        <input type="submit" value="Go" class="btn btn-default"
         action="" method="get">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    </form>
</div>
<div style="clear: both;">{{ chart |safe }}</div>
<hr/>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
      // We blur task_ids in demo mode
    $( document ).ready(function() {
    });
    </script>

    <div class="container"></div>

      <script src="{{ admin_static.url(
        filename='vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <script>
{% endblock %}
