{% extends "airflow/dag.html" %}
{% block title %}Airflow - DAGs{% endblock %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='tree.css') }}">
<link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs2.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
{{ super() }}
<div style="float: left" class="form-inline">
    <form method="get" style="float:left;">
        Base date: {{ form.base_date(class_="form-control") }}
        Number of runs: {{ form.num_runs(class_="form-control") }}
        <input type="hidden" name="root" value="{{ root if root else '' }}">
        <input type="hidden" value="{{ dag.dag_id }}" name="dag_id">
        <input type="submit" value="Go" class="btn btn-default"
         action="" method="get">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    </form>
</div>
<div style="clear: both;"></div>
<hr/>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
    <script src="/ck/static/chartkick.js"></script>
    <script>
      // We blur task_ids in demo mode
    $( document ).ready(function() {
      if ("{{ demo_mode }}" == "True") {
          d3.select("svg")
            .append("filter")
            .attr("id", "blur-effect-1")
            .append("feGaussianBlur")
            .attr("stdDeviation", 3);
          d3.selectAll("g.highcharts-legend-item text").style("filter", "url(#blur-effect-1)");
      }
      $('#uncheck').click(function(){
          chart = Highcharts.charts[0];
          for(i=0; i < chart.series.length; i++) {
            chart.series[i].hide();
          }
      });
      $('#check').click(function(){
          chart = Highcharts.charts[0];
          for(i=0; i < chart.series.length; i++) {
            chart.series[i].show();
          }
      });
    });
    </script>

    <div class="container">
      {% line_chart data with height=height library=chart_options%}
      <div class="text-center">
        <button class="btn" id="uncheck">Hide all series</button>
        <button class="btn" id="check">Show all series</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
      <script src="{{ admin_static.url(
        filename='vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
      <script src="{{ admin_static.url(filename='admin/js/form-1.0.0.js') }}"></script>
    <script>
{% endblock %}
