{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}

{% extends "airflow/dag.html" %}

{% block page_title %}{{ dag.dag_id }} - DAG Details - Airflow{% endblock %}

{% block content %}
  {{ super() }}
  <h2>{{ title }}</h2>
  <div>
    {% for state, count in states %}
      <a
        class="btn"
        style="border: none; background-color:{{ State.color(state)}}; color: {{ State.color_fg(state) }};"
        href="{{ url_for('TaskInstanceModelView.list', _flt_3_dag_id=dag.dag_id, _flt_3_state=state) }}">
        {{ state }} <span class="badge">{{ count }}</span>
      </a>
    {% endfor %}
  </div>
  <br>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Schedule Interval</th>
      <td>{{ dag.schedule_interval }}</td>
    </tr>
    <tr>
      <th>Start Date</th>
      <td>{{ dag.start_date }}</td>
    </tr>
    <tr>
      <th>End Date</th>
      <td>{{ dag.end_date }}</td>
    </tr>
    <tr>
      <th>Max Active Runs</th>
      <td>{{ active_runs | length }} / {{ dag.max_active_runs }}</td>
    </tr>
    <tr>
      <th>Concurrency</th>
      <td>{{ dag.concurrency }}</td>
    </tr>
    <tr>
      <th>Default Args</th>
      <td><code>{{ dag.default_args }}</code></td>
    </tr>
    <tr>
      <th>Tasks Count</th>
      <td>{{ dag.tasks|length }}</td>
    </tr>
    <tr>
      <th>Task IDs</th>
      <td>{{ dag.task_ids }}</td>
    </tr>
    <tr>
      <th>Filepath</th>
      <td>{{ dag.filepath }}</td>
    </tr>
    <tr>
      <th>Owner</th>
      <td>{{ dag.owner }}</td>
    </tr>
  </table>
{% endblock %}
