{% extends "airflow/dag.html" %}
{% block title %}Airflow - DAGs{% endblock %}

{% block body %}
    {{ super() }}
    <h4>{{ title }}</h4>
    {% if html_code %}
        {{ html_code|safe }}
    {% endif %}
    {% if code %}
        <pre>{{ code }}</pre>
    {% endif %}

    {% if code_dict %}
        {% for k, v in code_dict.items() %}
            <h5>{{ k }}</h5>
            <pre>{{ v }}</pre>
        {% endfor %}
    {% endif %}
    {% if html_dict %}
        {% for k, v in html_dict.items() %}
            <h5>{{ k }}</h5>
            {{ v|safe }}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block tail %}
    {{ super() }}
    <script>
      // We blur task_ids in demo mode
    $( document ).ready(function() {
      if ("{{ demo_mode }}" == "True") {
          $("pre span.s").css({
              'text-shadow': '0px 0px 10px red',
              'color': 'transparent',
          });
      }
    });
    </script>
{% endblock %}
