{% extends "airflow/dag.html" %}
{% block title %}Airflow - DAGs{% endblock %}

{% block body %}
    {{ super() }}
    <h2>{{ title }}</h2>
    {% if html_code %}
        {{ html_code|safe }}
    {% endif %}
    {% if code %}
        <pre>{{ code }}</pre>
    {% endif %}

    {% if code_dict %}
        {% for k, v in code_dict.iteritems() %}
            <h4>{{ k }}</h4>
            <pre>{{ v }}</pre>
        {% endfor %}
    {% endif %}
    {% if html_dict %}
        {% for k, v in html_dict.iteritems() %}
            <h4>{{ k }}</h4>
            {{ v|safe }}
        {% endfor %}
    {% endif %}
{% endblock %}
