{% extends "airflow/master.html" %}

{% block title %}Airflow - DAGs{% endblock %}

{% block head_css %}
{{ super() }}
{% endblock %}

{% block body %}
  <h2>DAGs</h2>

    <table class="table table-striped table-bordered">
        <tr>
            <th>DAG</th>
            <th>Filepath</th>
            <th>Owner</th>
            <th>Task by State</th>
            <th class="text-center">Links</th>
        </tr>
        {% for dag in dags %}
            <tr>
                <td>
                    <a href="{{ url_for('airflow.tree', dag_id=dag.dag_id) }}">
                        {{ dag.dag_id }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('airflow.code', dag_id=dag.dag_id) }}">
                        {{ dag.filepath }}
                    </a>
                </td>
                <td>{{ dag.owner }}</td>
                <td style="padding:0 0 0 0;">
                    <svg height="0" width="0" id='{{ dag.dag_id }}'></svg>
                </td>
                <td class="text-center">
    <a href="{{ url_for("airflow.tree", dag_id=dag.dag_id, num_runs=25) }}" title="Tree View">
        <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
    </a>
    <a href="{{ url_for("airflow.graph", dag_id=dag.dag_id) }}" title="Graph View">
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
      </a>
    <a href="{{ url_for("airflow.duration", dag_id=dag.dag_id) }}" title="Tasks Duration">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
    </a>
    
      <a href="{{ url_for("airflow.landing_times", dag_id=dag.dag_id) }}" title="Landing Times">
        <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
      </a>
    
    
      <a href="{{ url_for("airflow.gantt", dag_id=dag.dag_id) }}" title="Gantt View">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
        <i class="icon-align-left"></i>
      </a>
    
    
      <a href="{{ url_for("airflow.code", dag_id=dag.dag_id) }}" title="Code View">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
      </a>
    
                    <a href="/admin/logview/?sort=1&desc=1&flt1_dag_id_equals={{ dag.dag_id }}">
                        <i class="icon-list"></i>
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block tail %}
  {{ super() }}
  <script src="{{ url_for('static', filename='d3.v3.min.js') }}"></script>
  <script>
      diameter = 25;
      circle_margin = 8;
      stroke_width = 2;
      stroke_width_hover = 6;
      d3.json("{{ url_for('airflow.dag_stats') }}", function(error, json) {
        for(var dag_id in json) {
            states = json[dag_id];
            console.log(states);
            g = d3.select('svg#' + dag_id)
              .attr('height', diameter + (stroke_width_hover * 2))
              .attr('width', 4 * (diameter + stroke_width_hover))
              .selectAll("g")
              .data(states)
              .enter()
              .append('g')
              .attr('transform', function(d, i) {
                x = (i + 1) * (diameter + circle_margin);
                y = (diameter/2) + stroke_width_hover;
                return 'translate(' + x + ',' + y + ')';
              });

            g.append('text')
              .attr('fill', 'black')
              .attr('text-anchor', 'middle')
              .attr('vertical-align', 'middle')
              .attr('font-size', 8)
              .attr('y', 3)
              .text(function(d){ return d.count; });

            g.append('circle')
              .attr('stroke-width', function(d) {
                  if (d.count > 0)    
                    return stroke_width;
                  else {
                    return 1;
                  }
              })
              .attr('stroke', function(d) {
                  if (d.count > 0)    
                    return d.color;
                  else {
                    return 'grey';
                  }
              })
              .attr('fill-opacity', 0)
              .attr('r', diameter/2)
              .attr('title', function(d) {return d.state})
              .attr('style', function(d) {
                if (d.count > 0)
                    return"cursor:pointer;"
              })
              .on('click', function(d, i) {
                  if (d.count > 0)    
                    window.location = "/admin/taskinstance/?flt1_dag_id_equals=" + d.dag_id + "&flt2_state_equals=" + d.state;
              })
              .on('mouseover', function(d, i) {
                if (d.count > 0) {
                    d3.select(this).transition().duration(400)
                      .attr('fill-opacity', 0.3)
                      .style("stroke-width", stroke_width_hover);
                }
              })
              .on('mouseout', function(d, i) {
                if (d.count > 0) {
                    d3.select(this).transition().duration(400)
                      .attr('fill-opacity', 0)
                      .style("stroke-width", stroke_width);
                }
              });
        }

        $("circle").tooltip({
          html: true,
          container: "body",
        });
    });
  </script>
{% endblock %}
