{% extends "airflow/master.html" %}
{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css"
    href="{{ url_for("static", filename="main.css") }}">
<link rel="stylesheet" type="text/css"
    href="{{ url_for("static", filename="dataTables.bootstrap.css") }}">
<style>
  pre {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    background-color: #FFF;
  }
  .highcharts-tooltip>span {
    background: rgba(255,255,255,0.85);
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
    z-index: 2;
  }
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
{% if embed %}
/* override padding formatting for flush margins */
.container {
    padding: 0px;
}
body {
    padding: 0px;
    background-color: #fff;
}
.navbar {
  display: none;
}
{% endif %}
</style>
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
{{ super() }}
{% if embed %}
  <div id="chart_body">
      <img src="{{ url_for('static', filename='loading.gif') }}" width="50px">
  </div>
{% else %}
  <div id="container">
    <h2>
        <span id="label">{{ label }}</span>
        <a href="/admin/chart/edit/?id={{ chart.id }}" >
            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
        </a>
    </h2>
    <div id="error" style="display: none;" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span id="error_msg">Oops.</span>
    </div>
    {% if chart.show_sql %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#sql_panel" aria-expanded="true" aria-controls="sql_panel">
                    SQL
            </a>
          </h4>
        </div>
        <div id="sql_panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body" id="sql_panel_body">
            {{ sql }}
          </div>
        </div>
      </div>
    {% endif %}
    {% if chart.chart_type != "datatable" %}
      <div id="chart_section" class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#chart_panel" aria-expanded="true" aria-controls="chart_panel">
                Chart
            </a>
          </h4>
        </div>
        <div id="chart_panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div id="chart_body">
                <img src="{{ url_for('static', filename='loading.gif') }}" width="50px">
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% if chart.show_datatable or chart.chart_type == "datatable" %}
      <div id="datatable_section" class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#datatable_panel" aria-expanded="true" aria-controls="datatable_panel">
                    Data
            </a>
          </h4>
        </div>
        <div id="datatable_panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body" id="datatable_panel_body">
              <table id="datatable" class="dataframe table table-bordered table-striped no-wrap"></table>
                <img id="loading" src="{{ url_for('static', filename='loading.gif') }}" width="50px">
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts-more.js') }}">
    </script>
    <script src="{{ url_for('static', filename='heatmap.js') }}"></script>
    <script src="{{ url_for('static', filename='heatmap-canvas.js') }}"></script>
    <script>
    function error(msg){
      $('#error_msg').html(msg);
      $('#error').show();
      $('#loading').hide();
      $('#chart_section').hide(1000);
      $('#datatable_section').hide(1000);
    }
    function warn(msg){
      $('#error_msg').html(msg);
      $('#error').show();
    }
    $( document ).ready(function() {
      Highcharts.setOptions({
        colors: [
            "#FF5A5F", "#007A87", "#7B0051", "#00D1C1", "#8CE071", "#FFB400", 
            "#FFAA91", "#B4A76C", "#9CA299", "#565A5C"
        ],
      });
      url = "{{ url_for('airflow.chart_data') }}" + location.search;
      $.getJSON(url, function(payload) {
        $('#loading').hide();
        $("#sql_panel_body").html(payload.sql_html);
        $("#label").html(payload.label);
        if (payload.state == "SUCCESS") {
          {% if chart.chart_type != "datatable" %}
            $('#chart_body').css('width', '100%');
            $('#chart_body').css('height', '{{ chart.height }}');
            $('#chart_body').highcharts(payload.hc);
          {% endif %}
          {% if chart.show_datatable or chart.chart_type == "datatable" %}
              $('#datatable').dataTable( {
                "data": payload.data.data,
                "columns": payload.data.columns,
                "scrollX": true,
                "iDisplayLength": 100,
              });   
          {% endif %}
        }  
        else {
          error(payload.error);
        }
        if ('warning' in payload)
            warn(payload.warning);
      }).fail(function(jqxhr, textStatus, err) {
        error( textStatus + ': ' + err );
      });
    });
    </script>

{% endblock %}
