{% extends "airflow/master.html" %}

{% block head_css %}
{{ super() }}
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}

{% block body %}
{{ super() }}
<div id="container">
    <h2>{{ label }}</h2>
    <div id="hc" style="height:{{ chart.height }}px;">
        <img src="{{ url_for('static', filename='loading.gif') }}" width="50px">
    </div>
    {% if show_sql %}
        <h4>SQL</h4>
        {{ sql }}
    {% endif %}
    {% if chart.show_datatable %}
        <h4>Data</h4>
        {{ table }}
    {% endif %}
</div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts-more.js') }}">
    </script>
    <script>
      Highcharts.setOptions({
        colors: 
            ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"]
      });
      hc = {{ hc|safe }};
      $('#hc').highcharts(hc);
    </script>

{% endblock %}

