{% extends "airflow/master.html" %}

{% block head_css %}
{{ super() }}
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}

{% block body %}
{{ super() }}
<div id="container">
    <h2>
        {{ label }}
        <a href="/admin/chartview/edit/?url=%2Fadmin%2Fchartview%2F&id={{ chart.id }}">
            <i class="icon-edit" 
                style="vertical-align:middle;"></i>
        </a>
    </h2>
    <div id="hc" style="height:{{ chart.height }}px;">
        <img src="{{ url_for('static', filename='loading.gif') }}" width="50px">
    </div>
    {% if show_sql %}
        <h4>SQL</h4>
        {{ sql }}
    {% endif %}
    {% if chart.show_datatable %}
        <h4>Data</h4>
        {{ table }}
    {% endif %}
</div>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='highcharts-more.js') }}">
    </script>
    <script>
      Highcharts.setOptions({
        colors: [
            "#FF5A5F", "#007A87", "#7B0051", "#00D1C1", "#8CE071", "#FFB400", 
            "#FFAA91", "#B4A76C", "#9CA299", "#565A5C"
        ],
      });
      hc = {{ hc|safe }};
      $('#hc').highcharts(hc);
    </script>

{% endblock %}

