{% extends "airflow/master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to Airflow</h1>
            <div class="account-wall">
                <img src="{{ url_for("static", filename="pin_100.png") }}" />
                <form class="form-signin" method="post" action="{{ url_for('airflow.login') }}">
                    {{ form.csrf_token }}
                    <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" name="password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        Remember me
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}