{% extends "airflow/task_instance.html" %}
{% block title %}Airflow - DAGs{% endblock %}

{% block body %}
    {{ super() }}
    <h4>{{ title }}</h4>
    <div>
        {% for attr, value in special_attrs_rendered.items() %}
            <h5>Attribute: {{ attr }}</h5>
            {{ value|safe }}
        {% endfor %}
        <h5>Attributes</h5>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            {% for attr, value in attributes %}
                <tr>
                    <td>{{ attr }}</td>
                    <td class='code'>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ html_code|safe }}
    </div>
{% endblock %}
