/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.vis.timeline div.content {
  width: 100%;
}

div#application-timeline, div#job-timeline {
  margin-bottom: 30px;
}

#application-timeline .vis.timeline .item.selected {

}

#application-timeline div.legend-area {
  margin-top: 20px;
}

#task-assignment-timeline div.legend-area {
  float: right;
  border: 1px solid #000000;
}

#task-assignment-timeline .legend-area>svg {
  width: 600px;
  height: 80px;
}

#task-assignment-timeline>div.control-panel {
  float: left;
}

.control-panel input+span {
  cursor: pointer;
}

#task-assignment-timeline>.timeline-header:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

#task-assignment-timeline div.item.range {
  padding: 0px;
  height: 40px;
}

.task-assignment-timeline-content {
  width: 100%;
  height: 19px;
}

.task-assignment-timeline-duration-bar {
  width: 100%;
  height: 19px;
}
.task.task-assignment-timeline-object.succeeded {
  background-color: #D5DDF6;
}

.task.task-assignment-timeline-object.failed {
  background-color: #FF5475;
}

.task.task-assignment-timeline-object.running {
  background-color: #FDFFCA;
}

.stage.job-timeline-object.succeeded {
  background-color: #D5DDF6;
}

.stage.job-timeline-object.succeeded.selected {
   background-color: #D5DDF6;
   border-color: #97B0F8;
   z-index: auto;
}

.stage.job-timeline-object.failed {
   background-color: #FF5475;
}

.stage.job-timeline-object.failed.selected {
   background-color: #FF5475;
   border-color: #97B0F8;
   z-index: auto;
}

.stage.job-timeline-object.running {
   background-color: #FDFFCA;
}

.stage.job-timeline-object.running.selected {
   background-color: #FDFFCA;
   border-color: #97B0F8;
   z-index: auto;
}

.job.application-timeline-object.succeeded {
  background-color: #D5DDF6;
}

.job.application-timeline-object.succeeded.selected {
   background-color: #D5DDF6;
   border-color: #97B0F8;
   z-index: auto;
}

.job.application-timeline-object.failed {
   background-color: #FF5475;
}

.job.application-timeline-object.failed.selected {
   background-color: #FF5475;
   border-color: #97B0F8;
   z-index: auto;
}

.job.application-timeline-object.running {
   background-color: #FDFFCA;
}

.job.application-timeline-object.running.selected {
   background-color: #FDFFCA;
   border-color: #97B0F8;
   z-index: auto;
}

.executor.application-timeline-object.added {
  background-color: #D5DDF6;
}

.executor.application-timeline-object.removed {
  background-color: #EBCA59;
}
