/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div#application-timeline, div#job-timeline {
  margin-bottom: 30px;
}

#application-timeline div.legend-area,
#job-timeline div.legend-area {
  margin-top: 5px;
}

#task-assignment-timeline div.legend-area {
  float: right;
  border: 1px solid #000000;
}

#task-assignment-timeline .legend-area>svg {
  width: 600px;
  height: 80px;
}

#task-assignment-timeline>.timeline-header:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

#task-assignment-timeline div.item.range {
  padding: 0px;
  height: 40px;
}

.task-assignment-timeline-content {
  width: 100%;
  height: 19px;
}

.task-assignment-timeline-duration-bar {
  width: 100%;
  height: 19px;
}

rect.scheduler-delay-proportion {
  fill: #F6D76B;
}

rect.deserialization-time-proportion {
  fill: #FFBDD8;
}

rect.shuffle-read-time-proportion {
  fill: #8AC7DE;
}

rect.executor-runtime-proportion {
  fill: #D9EB52;
}

rect.shuffle-write-time-proportion {
  fill: #87796F;
}

rect.serialization-time-proportion {
  fill: #93DFB8;
}

rect.getting-result-time-proportion {
  fill: #FF9036;
}

.vis.timeline .item.task.succeeded {
  background-color: #D5DDF6;
}

.legend-area rect.succeeded-task-legend {
  fill: #D5DDF6;
  stroke: #97B0F8;
}

.vis.timeline .item.task.failed {
  background-color: #FF5475;
}

.legend-area rect.failed-task-legend {
  fill: #FF5475;
  stroke: #97B0F8;
}

.vis.timeline .item.task.running {
  background-color: #FDFFCA;
}

.legend-area rect.running-task-legend {
  fill: #FDFFCA;
  stroke: #97B0F8;
}

#application-timeline div.legend-area {
  margin-top: 5px;
}

.vis.timeline div.content {
  width: 100%;
}

.vis.timeline .item.stage {
  cursor: pointer;
}

.vis.timeline .item.stage.succeeded {
  background-color: #D5DDF6;
}

.vis.timeline .item.stage.succeeded.selected {
   background-color: #D5DDF6;
   border-color: #97B0F8;
   z-index: auto;
}

.legend-area rect.completed-stage-legend {
  fill: #D5DDF6;
  stroke: #97B0F8;
}

.vis.timeline .item.stage.failed {
   background-color: #FF5475;
}

.vis.timeline .item.stage.failed.selected {
   background-color: #FF5475;
   border-color: #97B0F8;
   z-index: auto;
}

.legend-area rect.failed-stage-legend {
  fill: #FF5475;
  stroke: #97B0F8;
}

.vis.timeline .item.stage.running {
   background-color: #FDFFCA;
}

.vis.timeline .item.stage.running.selected {
   background-color: #FDFFCA;
   border-color: #97B0F8;
   z-index: auto;
}

.legend-area rect.active-stage-legend {
  fill: #FDFFCA;
  stroke: #97B0F8;
}

.vis.timeline .item.job {
  cursor: pointer;
}

.vis.timeline .item.job.succeeded {
  background-color: #D5DDF6;
}

.vis.timeline .item.job.succeeded.selected {
   background-color: #D5DDF6;
   border-color: #97B0F8;
   z-index: auto;
}

.legend-area rect.succeeded-job-legend {
  fill: #D5DDF6;
  stroke: #97B0F8;
}

.vis.timeline .item.job.failed {
   background-color: #FF5475;
}

.vis.timeline .item.job.failed.selected {
   background-color: #FF5475;
   border-color: #97B0F8;
   z-index: auto;
}

.legend-area rect.failed-job-legend {
  fill: #FF5475;
  stroke: #97B0F8;
}

.vis.timeline .item.job.running {
   background-color: #FDFFCA;
}

.vis.timeline .item.job.running.selected {
   background-color: #FDFFCA;
   border-color: #97B0F8;
   z-index: auto;
}

.legend-area rect.running-job-legend {
  fill: #FDFFCA;
  stroke: #97B0F8;
}

.vis.timeline .item.executor.added {
  background-color: #D5DDF6;
}

.legend-area rect.executor-added-legend {
  fill: #D5DDF6;
  stroke: #97B0F8;
}

.vis.timeline .item.executor.removed {
  background-color: #EBCA59;
}

.legend-area rect.executor-removed-legend {
  fill: #EBCA59;
  stroke: #97B0F8;
}

.vis.timeline .item.executor.selected {
  border-color: #FFC200;
  background-color: #FFF785;
  z-index: 2;
}

tr.corresponding-item-hover>td, tr.corresponding-item-hover>th {
  background-color: #FFE1FA !important;
}

#application-timeline.collapsed {
  display: none;
}

#job-timeline.collapsed {
  display: none;
}

#task-assignment-timeline.collapsed {
  display: none;
}

.control-panel {
  margin-bottom: 5px;
}

#task-assignment-timeline .control-panel {
  float: left;
}

span.expand-application-timeline, span.expand-job-timeline,
span.expand-task-assignment-timeline {
  cursor: pointer;
}

.control-panel input+span {
  cursor: pointer;
}

.vis.timeline .item.range .content {
  position: unset;
}

.vis.timeline .item .tooltip-inner {
  max-width: unset !important;
}
