/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div#application-timeline, div#job-timeline {
  margin-bottom: 30px;
}

#application-timeline div.legend-area,
#job-timeline div.legend-area {
  margin-top: 5px;
}

#task-assignment-timeline div.legend-area {
  border: 1px solid #000000;
  width: 554px;
}

#task-assignment-timeline .legend-area > svg {
  width: 100%;
  height: 55px;
}

#task-assignment-timeline div.item.range {
  padding: 0px;
  height: 26px;
  border-width: 0;
}

.task-assignment-timeline-content {
  width: 100%;
}

.task-assignment-timeline-duration-bar {
  width: 100%;
  height: 26px;
}

rect.scheduler-delay-proportion {
  fill: #F6D76B;
}

rect.deserialization-time-proportion {
  fill: #FFBDD8;
}

rect.shuffle-read-time-proportion {
  fill: #8AC7DE;
}

rect.executor-runtime-proportion {
  fill: #D9EB52;
}

rect.shuffle-write-time-proportion {
  fill: #87796F;
}

rect.serialization-time-proportion {
  fill: #93DFB8;
}

rect.getting-result-time-proportion {
  fill: #FF9036;
}

.vis.timeline {
  line-height: 14px;
}

.vis.timeline div.content {
  width: 100%;
}

.vis.timeline .item.stage {
  cursor: pointer;
}

.vis.timeline .item.stage.succeeded {
  background-color: #A0DFFF;
  border-color: #3EC0FF;
}

.vis.timeline .item.stage.succeeded.selected {
  background-color: #A0DFFF;
  border-color: #3EC0FF;
  z-index: auto;
}

.legend-area rect.completed-stage-legend {
  fill: #A0DFFF;
  stroke: #3EC0FF;
}

.vis.timeline .item.stage.failed {
  background-color: #FFA1B0;
  border-color: #FF4D6D;
}

.vis.timeline .item.stage.failed.selected {
  background-color: #FFA1B0;
  border-color: #FF4D6D;
  z-index: auto;
}

.legend-area rect.failed-stage-legend {
  fill: #FFA1B0;
  stroke: #FF4D6D;
}

.vis.timeline .item.stage.running {
  background-color: #A2FCC0;
  border-color: #36F572;
}

.vis.timeline .item.stage.running.selected {
  background-color: #A2FCC0;
  border-color: #36F572;
  z-index: auto;
}

.legend-area rect.active-stage-legend {
  fill: #A2FCC0;
  stroke: #36F572;
}

.vis.timeline .foreground {
  cursor: move;
}

.vis.timeline .item.job {
  cursor: pointer;
}

.vis.timeline .item.job.succeeded {
  background-color: #A0DFFF;
  border-color: #3EC0FF;
}

.vis.timeline .item.job.succeeded.selected {
  background-color: #A0DFFF;
  border-color: #3EC0FF;
  z-index: auto;
}

.legend-area rect.succeeded-job-legend {
  fill: #A0DFFF;
  stroke: #3EC0FF;
}

.vis.timeline .item.job.failed {
  background-color: #FFA1B0;
  border-color: #FF4D6D;
}

.vis.timeline .item.job.failed.selected {
  background-color: #FFA1B0;
  border-color: #FF4D6D;
  z-index: auto;
}

.legend-area rect.failed-job-legend {
  fill: #FFA1B0;
  stroke: #FF4D6D;
}

.vis.timeline .item.job.running {
  background-color: #A2FCC0;
  border-color: #36F572;
}

.vis.timeline .item.job.running.selected {
  background-color: #A2FCC0;
  border-color: #36F572;
  z-index: auto;
}

.legend-area rect.running-job-legend {
  fill: #A2FCC0;
  stroke: #36F572;
}

.vis.timeline .item.executor.added {
  background-color: #A0DFFF;
  border-color: #3EC0FF;
}

.legend-area rect.executor-added-legend {
  fill: #A0DFFF;
  stroke: #3EC0FF;
}

.vis.timeline .item.executor.removed {
  background-color: #FFA1B0;
  border-color: #FF4D6D;
}

.legend-area rect.executor-removed-legend {
  fill: #FFA1B0;
  stroke: #FF4D6D;
}

.vis.timeline .item.executor.selected {
  background-color: #A2FCC0;
  border-color: #36F572;
  z-index: 2;
}

tr.corresponding-item-hover > td, tr.corresponding-item-hover > th {
  background-color: #D6FFE4 !important;
}

#application-timeline.collapsed {
  display: none;
}

#job-timeline.collapsed {
  display: none;
}

#task-assignment-timeline.collapsed {
  display: none;
}

.control-panel {
  margin-bottom: 5px;
}

.control-panel input[type="checkbox"] {
  margin: 0;
}

span.expand-application-timeline, span.expand-job-timeline,
span.expand-task-assignment-timeline {
  cursor: pointer;
}

.control-panel input + span {
  cursor: pointer;
}

.vis.timeline .item.range .content {
  position: unset;
}

.vis.timeline .item .tooltip-inner {
  max-width: unset !important;
}

.vispanel.center {
  font-size: 12px;
  line-height: 12px;
}

.legend-area text {
  fill: #4D4D4D;
}

.additional-metrics ul {
  list-style: none;
  margin-left: 15px;
}
