#canvas {
}

#canvas-svg {
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 12px sans-serif;
  pointer-events: none;
}