/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

html {
  font-size: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0.75rem 0;
}

h4 {
  font-size: 1.25rem;
}

a,
a:not([href]) {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:not([href]):hover {
  color: #005580;
  text-decoration:underline
}

.btn-spark {
  color:#333333;
  background-color:#ffffff;
  background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat:repeat-x;
  border: 1px solid #ced4da;
  border-bottom-color: #b3b3b3;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.btn-spark:hover {
  background-color: #e6e6e6;
  background-position:0 -15px;
  transition:background-position 0.1s linear;
}

.form-inline label {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.navbar {
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  border-bottom-color: #d4d4d4;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 15px;
  line-height: 1;
  margin-bottom: 15px;
  padding: 0 1rem;
}

.navbar .navbar-brand {
  padding: 0;
}

.navbar-brand a:hover {
  text-decoration: none;
}

.navbar .navbar-nav .nav-link {
  height: 50px;
  padding: 10px 15px 10px;
  line-height: 2;
  white-space: nowrap;
}

.navbar .navbar-nav .nav-item.active .nav-link {
  background-color: #e5e5e5;
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  color: #555555;
  white-space: nowrap;
}

table.sortable thead {
  cursor: pointer;
}

table.sortable td {
  word-wrap: break-word;
  max-width: 600px;
}

.progress {
  font-size: 1rem;
  height: 1.42rem;
  margin-bottom: 0px;
  position: relative;
  box-shadow: inset 1px 0 0 rgba(0,0,0,.15), inset 0 -1px 0 rgba(0,0,0,.15);
}

.progress .progress-bar.progress-started {
  background-color: #A0DFFF;
  background-image: -moz-linear-gradient(top, #A4EDFF, #94DDFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A4EDFF), to(#94DDFF));
  background-image: -webkit-linear-gradient(top, #A4EDFF, #94DDFF);
  background-image: -o-linear-gradient(top, #A4EDFF, #94DDFF);
  background-image: linear-gradient(to bottom, #A4EDFF, #94DDFF);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFA4EDFF', endColorstr='#FF94DDFF', GradientType=0);
}

.progress .progress-bar.progress-completed {
  background-color: #3EC0FF;
  background-image: -moz-linear-gradient(top, #44CBFF, #34B0EE);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44CBFF), to(#34B0EE));
  background-image: -webkit-linear-gradient(top, #44CBFF, #34B0EE);
  background-image: -o-linear-gradient(top, #44CBFF, #34B0EE);
  background-image: linear-gradient(to bottom, #64CBFF, #54B0EE);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FF44CBFF', endColorstr='#FF34B0EE', GradientType=0);
}

a.kill-link {
  margin-right: 2px;
  margin-left: 20px;
  color: gray;
  float: right;
}

a.name-link {
  word-wrap: break-word;
}

span.expand-details {
  font-size: 10pt;
  cursor: pointer;
  color: grey;
  float: right;
}

span.rest-uri {
  font-size: 10pt;
  font-style: italic;
  color: gray;
}

pre {
  background-color: rgba(0, 0, 0, .05);
  font-size: 12px;
  line-height: 18px;
  padding: 6px;
  margin: 0;
  word-break: break-word;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  white-space: pre-wrap;
}

.stage-details {
  overflow-y: auto;
  margin: 0;
  display: block;
  transition: max-height 0.25s ease-out, padding 0.25s ease-out;
}

.stage-details.collapsed {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  display: none;
}

.sub-execution-list {
  font-size: 0.9rem;
}

.sub-execution-list.collapsed {
  display: none;
}

.table-striped .sub-execution-list table tr {
  background-color: inherit;
}

.description-input {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}

.description-input-full {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: normal;
  display: block;
}

.stacktrace-details {
  max-height: 300px;
  overflow-y: auto;
  margin: 0;
  display: block;
  transition: max-height 0.25s ease-out, padding 0.25s ease-out;
}

.stacktrace-details.collapsed {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  display: none;
}

span.expand-dag-viz, .collapse-table {
  cursor: pointer;
}

.collapsible-table.collapsed {
  display: none;
}

.tooltip {
  font-size: 0.786rem;
  font-weight: normal;
}

.arrow-open {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #08c;
  display: inline-block;
  margin-bottom: 2px;
}

.arrow-closed {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #08c;
  display: inline-block;
  margin-left: 2px;
  margin-right: 3px;
}

.version {
  line-height: 2.5;
  vertical-align: bottom;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #777;
}

.accordion-inner {
  background: #f5f5f5;
}

.accordion-inner pre {
  border: 0;
  padding: 0;
  background: none;
}

a.expandbutton {
  cursor: pointer;
  margin-right: 10px;
}

a.downloadbutton {
  cursor: pointer;
  margin-right: 10px;
}

.threaddump-td-mouseover {
  background-color: #49535a !important;
  color: white;
  cursor:pointer;
}

.table-head-clickable th a, .table-head-clickable th a:hover {
  /* Make the entire header clickable, not just the text label */
  display: block;
  width: 100%;
  /* Suppress the default link styling */
  color: #333;
  text-decoration: none;
}

.log-more-btn, .log-new-btn {
  width: 100%
}

.no-new-alert {
  text-align: center;
  margin: 0;
  padding: 4px 0;
}

.table-cell-width-limited td {
  max-width: 600px;
}

.page-link {
  color: #0088cc;
}

.page-item.active .page-link {
  background-color: #0088cc;
  border-color: #0088cc;
}

.title-table {
  clear: left;
  display: inline-block;
}

.table-dataTable {
  width: 100%;
}

.select-all-div-checkbox-div {
  width: 90px;
}

.scheduler-delay-checkbox-div {
  width: 130px;
}

.task-deserialization-time-checkbox-div {
  width: 190px;
}

.shuffle-read-fetch-wait-time-checkbox-div {
  width: 215px;
}

.shuffle-remote-reads-checkbox-div {
  width: 170px;
}

.shuffle-write-time-checkbox-div {
  width: 155px;
}

.result-serialization-time-checkbox-div {
  width: 185px;
}

.getting-result-time-checkbox-div {
  width: 155px;
}

.peak-execution-memory-checkbox-div {
  width: 180px;
}

#active-tasks-table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#active-tasks-table th:first-child {
  border-left: 1px solid #dddddd;
}

#accumulator-table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#accumulator-table th:first-child {
  border-left: 1px solid #dddddd;
}

#summary-executor-table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#summary-executor-table th:first-child {
  border-left: 1px solid #dddddd;
}

#speculation-metrics-table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#speculation-metrics-table th:first-child {
  border-left: 1px solid #dddddd;
}

#summary-metrics-table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#summary-metrics-table th:first-child {
  border-left: 1px solid #dddddd;
}

#summary-execs-table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#summary-execs-table th:first-child {
  border-left: 1px solid #dddddd;
}

#active-executors-table th {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#active-executors-table th:first-child {
  border-left: 1px solid #dddddd;
}
