# Editable install with no version control (apache-airflow==2.0.0.dev0)
Authlib==0.14.3
Babel==2.8.0
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Bcrypt==0.7.1
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OAuthlib==0.9.5
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.3
Flask-WTF==0.14.3
Flask==1.1.2
GitPython==3.1.3
HeapDict==1.0.1
JPype1==0.7.5
JayDeBeApi==1.2.3
Jinja2==2.10.3
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
PyHive==0.6.2
PyJWT==1.7.1
PyNaCl==1.4.0
PySmbClient==0.1.5
PyYAML==5.3.1
Pygments==2.6.1
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.6
SQLAlchemy==1.3.18
Sphinx==3.1.1
Unidecode==1.1.1
WTForms==2.3.1
Werkzeug==0.16.1
adal==1.2.4
aiohttp==3.6.2
alabaster==0.7.12
alembic==1.4.2
amqp==2.6.0
analytics-python==1.2.9
ansiwrap==0.8.4
apipkg==1.5
apispec==1.3.3
appdirs==1.4.4
argcomplete==1.11.1
asn1crypto==1.3.0
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
atlasclient==1.0.0
attrs==19.3.0
aws-sam-translator==1.25.0
aws-xray-sdk==2.6.0
azure-batch==9.0.0
azure-common==1.1.25
azure-cosmos==3.1.2
azure-datalake-store==0.0.48
azure-kusto-data==0.0.45
azure-mgmt-containerinstance==1.5.0
azure-mgmt-datalake-nspkg==3.0.1
azure-mgmt-datalake-store==0.5.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==10.0.0
azure-nspkg==3.0.2
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
azure-storage==0.36.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.7.1
billiard==3.6.3.0
black==19.10b0
blinker==1.4
boto3==1.14.14
boto==2.49.0
botocore==1.17.14
bowler==0.8.0
cached-property==1.5.1
cachetools==4.1.1
cassandra-driver==3.20.2
cattrs==1.0.0
celery==4.4.6
certifi==2020.6.20
cffi==1.14.0
cfgv==3.1.0
cfn-lint==0.33.2
cgroupspy==0.1.6
chardet==3.0.4
click==6.7
clickclick==1.2.2
cloudant==2.13.0
cloudpickle==1.4.1
colorama==0.4.3
colorlog==4.0.2
connexion==2.7.0
contextvars==2.4
coverage==5.1
croniter==0.3.34
cryptography==2.9.2
curlify==2.2.1
cx-Oracle==8.0.0
dask==2.19.0
datadog==0.37.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
distlib==0.3.1
distributed==2.19.0
dnspython==1.16.0
docker-pycreds==0.4.0
docker==3.7.3
docopt==0.6.2
docutils==0.16
ecdsa==0.15
elasticsearch-dbapi==0.1.0
elasticsearch-dsl==7.2.1
elasticsearch==7.5.1
email-validator==1.1.1
entrypoints==0.3
eventlet==0.25.2
execnet==1.7.1
facebook-business==7.0.3
fastavro==0.23.5
filelock==3.0.12
fissix==20.5.1
flake8-colors==0.1.6
flake8==3.8.3
flaky==3.6.1
flask-swagger==0.2.13
flower==0.9.4
freezegun==0.3.15
fsspec==0.7.4
funcsigs==1.0.2
future-fstrings==1.2.0
future==0.18.2
gcsfs==0.6.2
gevent==20.6.2
gitdb==4.0.5
google-ads==4.0.0
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-auth==1.18.0
google-cloud-automl==1.0.1
google-cloud-bigquery-datatransfer==1.1.0
google-cloud-bigquery==1.25.0
google-cloud-bigtable==1.2.1
google-cloud-container==1.0.1
google-cloud-core==1.3.0
google-cloud-datacatalog==0.7.0
google-cloud-dataproc==1.0.0
google-cloud-dlp==1.0.0
google-cloud-kms==1.4.0
google-cloud-language==1.3.0
google-cloud-logging==1.15.0
google-cloud-monitoring==1.0.0
google-cloud-pubsub==1.6.0
google-cloud-redis==1.0.0
google-cloud-secret-manager==1.0.0
google-cloud-spanner==1.17.1
google-cloud-speech==1.3.2
google-cloud-storage==1.29.0
google-cloud-tasks==1.5.0
google-cloud-texttospeech==1.0.1
google-cloud-translate==2.0.1
google-cloud-videointelligence==1.15.0
google-cloud-vision==1.0.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
graphviz==0.14
greenlet==0.4.16
grpc-google-iam-v1==0.12.3
grpcio-gcp==0.2.2
grpcio==1.30.0
gunicorn==19.10.0
hdfs==2.5.8
hmsclient==0.1.1
httplib2==0.18.1
humanize==0.5.1
hvac==0.10.4
identify==1.4.20
idna-ssl==1.1.0
idna==2.10
ijson==2.6.1
imagesize==1.2.0
immutables==0.14
importlib-metadata==1.7.0
importlib-resources==2.0.1
inflection==0.5.0
ipdb==0.13.3
ipython-genutils==0.2.0
ipython==7.16.1
iso8601==0.1.12
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.1
jira==2.0.0
jmespath==0.10.0
json-merge-patch==0.2
jsondiff==1.1.2
jsonpatch==1.26
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
jupyter-client==6.1.5
jupyter-core==4.6.3
kombu==4.6.11
kubernetes==11.0.0
lazy-object-proxy==1.5.0
ldap3==2.7
lockfile==0.12.2
marshmallow-enum==1.5.1
marshmallow-oneofschema==1.0.6
marshmallow-sqlalchemy==0.23.1
marshmallow==2.21.0
mccabe==0.6.1
mock==4.0.2
mongomock==3.19.0
monotonic==1.5
more-itertools==8.4.0
moto==1.3.14
msgpack==1.0.0
msrest==0.6.17
msrestazure==0.6.4
multi-key-dict==2.0.3
multidict==4.7.6
mypy-extensions==0.4.3
mypy==0.770
mysql-connector-python==8.0.18
mysqlclient==1.3.14
natsort==7.0.1
nbclient==0.4.0
nbformat==5.0.7
nest-asyncio==1.3.3
networkx==2.4
nodeenv==1.4.0
nteract-scrapbook==0.4.1
ntlm-auth==1.5.0
numpy==1.19.0
oauthlib==2.1.0
openapi-spec-validator==0.2.8
oscrypto==1.2.0
packaging==20.4
pandas-gbq==0.13.2
pandas==1.0.5
papermill==2.1.2
parameterized==0.7.4
paramiko==2.7.1
parso==0.7.0
pathspec==0.8.0
pbr==5.4.5
pendulum==2.1.0
pep562==1.0
pexpect==4.8.0
pickleshare==0.7.5
pinotdb==0.1.1
pipdeptree==1.0.0
pluggy==0.13.1
pre-commit==2.5.1
presto-python-client==0.7.0
prison==0.1.3
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
psycopg2-binary==2.8.5
ptyprocess==0.6.0
py4j==0.10.9
py==1.9.0
pyOpenSSL==19.1.0
pyarrow==0.17.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.6.0
pycountry==19.8.18
pycparser==2.20
pycryptodomex==3.9.8
pydata-google-auth==1.1.0
pydruid==0.5.8
pyexasol==0.13.1
pyflakes==2.2.0
pykerberos==1.2.1
pylint==2.5.3
pymongo==3.10.1
pymssql==2.1.4
pyodbc==4.0.30
pyparsing==2.4.7
pypd==1.1.0
pyrsistent==0.16.0
pysftp==0.2.9
pyspark==3.0.0
pytest-cov==2.10.0
pytest-forked==1.2.0
pytest-instafail==0.4.2
pytest-rerunfailures==9.0
pytest-timeout==1.4.1
pytest-xdist==1.32.0
pytest==5.4.3
python-daemon==2.2.4
python-dateutil==2.8.1
python-editor==1.0.4
python-http-client==3.2.7
python-jenkins==1.7.0
python-jose==3.1.0
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
pytzdata==2019.3
pywinrm==0.4.1
pyzmq==19.0.1
qds-sdk==1.16.0
redis==3.5.3
regex==2020.6.8
requests-kerberos==0.12.0
requests-mock==1.8.0
requests-ntlm==1.1.0
requests-oauthlib==1.1.0
requests-toolbelt==0.9.1
requests==2.24.0
responses==0.10.15
rsa==4.6
s3transfer==0.3.3
sasl==0.2.1
semver==2.10.2
sendgrid==6.4.1
sentinels==1.0.0
sentry-sdk==0.15.1
setproctitle==1.1.10
sh==1.13.1
simple-salesforce==1.1.0
six==1.15.0
slackclient==2.7.2
smmap==3.0.4
snowballstemmer==2.0.0
snowflake-connector-python==2.2.8
snowflake-sqlalchemy==1.2.3
sortedcontainers==2.2.2
soupsieve==2.0.1
sphinx-argparse==0.2.5
sphinx-autoapi==1.0.0
sphinx-copybutton==0.2.12
sphinx-jinja==1.1.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-dotnetdomain==0.4
sphinxcontrib-golangdomain==0.2.0.dev0
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spython==0.0.84
sshpubkeys==3.1.0
sshtunnel==0.1.5
starkbank-ecdsa==1.0.0
statsd==3.3.0
swagger-ui-bundle==0.0.6
tableauserverclient==0.9
tabulate==0.8.7
tblib==1.6.0
tenacity==4.12.0
text-unidecode==1.3
textwrap3==0.9.2
thrift-sasl==0.4.2
thrift==0.13.0
toml==0.10.1
toolz==0.10.0
tornado==5.1.1
tqdm==4.47.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
typing==3.7.4.1
tzlocal==1.5.1
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.9
vertica-python==0.10.4
vine==1.3.0
virtualenv==20.0.25
watchtower==0.7.3
wcwidth==0.2.5
websocket-client==0.57.0
wrapt==1.12.1
xmltodict==0.12.0
yamllint==1.23.0
yandexcloud==0.42.0
yarl==1.4.2
zdesk==2.7.1
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
