# The Python API relies on some new features from the Py4J development branch.
# pip can't install Py4J from git because the setup.py file for the Python
# package is not at the root of the git repository.  It may be possible to
# install Py4J from git once https://github.com/pypa/pip/pull/526 is merged.

# git+git://github.com/bartdag/py4j.git@b7924aabe9c5e63f0a4d8bbd17019534c7ec014e
argparse
