.navbar .brand {
  height: 50px;
  width: 110px;
  margin-left: 1px;
  padding: 0;
}

.version {
  line-height: 30px;
  vertical-align: bottom;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #777;
}

.navbar-inner {
  padding-top: 2px;
  height: 50px;
}

.navbar-inner .nav {
  margin-top: 5px;
  font-size: 15px;
}


#infolist {
  margin-left: 400px;
  margin-top: 14px;
}

#infolist li {
  display: inline;
  list-style-type: none;
  list-style-position: outside;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.progress-cell {
  width: 134px;
  border-right: 0;
  padding: 0;
  padding-top: 7px;
  padding-left: 4px;
}

.progress-completed .bar,
.progress .bar-completed {
  background-color: #7ccde5;
  background-image: -moz-linear-gradient(top, #7ccde5, #75c3d9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ccde5), to(#75c3d9));
  background-image: -webkit-linear-gradient(top, #7ccde5, #75c3d9);
  background-image: -o-linear-gradient(top, #7ccde5, #75c3d9);
  background-image: linear-gradient(to bottom, #7ccde5, #75c3d9);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff7ccde5', endColorstr='#ff75c3d9', GradientType=0);
}

.progress-running .bar,
.progress .bar-running {
  background-color: #cdecf5;
  background-image: -moz-linear-gradient(top, #cdecf5, #c2e4ee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cdecf5), to(#c2e4ee));
  background-image: -webkit-linear-gradient(top, #cdecf5, #c2e4ee);
  background-image: -o-linear-gradient(top, #cdecf5, #c2e4ee);
  background-image: linear-gradient(to bottom, #cdecf5, #c2e4ee);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffcdecf5', endColorstr='#ffc2e4ee', GradientType=0);
}

