.navbar .brand {
  height: 50px;
  width: 110px;
  margin-left: 1px;
  padding: 0;
}

.version {
  line-height: 30px;
  vertical-align: bottom;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #777;
}

.navbar-inner {
  padding-top: 2px;
  height: 50px;
}

.navbar-inner .nav {
  margin-top: 5px;
  font-size: 15px;
}


#infolist {
  margin-left: 400px;
  margin-top: 14px;
}

#infolist li {
  display: inline;
  list-style-type: none;
  list-style-position: outside;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.progress-cell {
  width: 134px;
  border-right: 0;
  padding: 0;
  padding-top: 7px;
  padding-left: 4px;
  line-height: 15px !important;
}

.table-fixed {
  table-layout:fixed;
}

.table td {
  vertical-align: middle !important;
}

.progress-completed .bar,
.progress .bar-completed {
  background-color: #b3def9;
  background-image: -moz-linear-gradient(top, #addfff, #badcf2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#addfff), to(#badcf2));
  background-image: -webkit-linear-gradient(top, #addfff, #badcf2);
  background-image: -o-linear-gradient(top, #addfff, #badcf2);
  background-image: linear-gradient(to bottom, #addfff, #badcf2);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffaddfff', endColorstr='#ffbadcf2', GradientType=0);
}

.progress-running .bar,
.progress .bar-running {
  background-color: #c2ebfa;
  background-image: -moz-linear-gradient(top, #bdedff, #c7e8f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bdedff), to(#c7e8f5));
  background-image: -webkit-linear-gradient(top, #bdedff, #c7e8f5);
  background-image: -o-linear-gradient(top, #bdedff, #c7e8f5);
  background-image: linear-gradient(to bottom, #bdedff, #c7e8f5);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffbdedff', endColorstr='#ffc7e8f5', GradientType=0);
}
