#exportPattern("^[[:alpha:]]+")
exportClasses("RDD")
exportClasses("Broadcast")
exportMethods(
              "cache",
              "collect",
              "collectPartition",
              "combineByKey",
              "count",
              "flatMap",
              "groupByKey",
              "length",
              "lapply",
              "lapplyPartition",
              "lapplyPartitionsWithIndex",
              "map",
              "partitionBy",
              "reduce",
              "reduceByKey",
              "sampleRDD",
              "take",
              "takeSample",
              "unpersist",
              "value"
             )

# S3 methods exported
export("textFile", "parallelize", "hashCode", "includePackage", "broadcast", "setBroadcastValue")
export("sparkR.init")
