#exportPattern("^[[:alpha:]]+")
exportClasses("RDD")
exportClasses("Broadcast")
exportMethods(
              "aggregateByKey",
              "aggregateRDD",
              "cache",
              "checkpoint",
              "cogroup",
              "collect",
              "collectAsMap",
              "collectPartition",
              "combineByKey",
              "count",
              "countByKey",
              "countByValue",
              "distinct",
              "Filter",
              "filterRDD",
              "first",
              "flatMap",
              "flatMapValues",
              "fold",
              "foldByKey",
              "foreach",
              "foreachPartition",
              "fullOuterJoin",
              "groupByKey",
              "join",
              "keyBy",
              "keys",
              "length",
              "lapply",
              "lapplyPartition",
              "lapplyPartitionsWithIndex",
              "leftOuterJoin",
              "lookup",
              "map",
              "mapPartitions",
              "mapPartitionsWithIndex",
              "mapValues",
              "maximum",
              "minimum",
              "numPartitions",
              "partitionBy",
              "persist",
              "pipeRDD",
              "reduce",
              "reduceByKey",
              "reduceByKeyLocally",
              "rightOuterJoin",
              "sampleRDD",
              "saveAsTextFile",
              "saveAsObjectFile",
              "sortBy",
              "sortByKey",
              "take",
              "takeOrdered",
              "takeSample",
              "top",
              "unionRDD",
              "unpersist",
              "value",
              "values"
             )

# S3 methods exported
export(
       "textFile",
       "objectFile",
       "parallelize",
       "hashCode",
       "includePackage",
       "broadcast",
       "setBroadcastValue",
       "setCheckpointDir"
      )
export("sparkR.init")
export("sparkR.stop")
export("print.jobj")
useDynLib(SparkR, stringHashCode)
importFrom(methods, setGeneric, setMethod, setOldClass)

# SparkRSQL

exportClasses("DataFrame")

exportMethods("columns",
              "distinct",
              "dtypes",
              "filter",
              "head",
              "limit",
              "orderBy",
              "names",
              "printSchema",
              "registerTempTable",
              "repartition",
              "sampleDF",
              "saveAsTable",
              "saveDF",
              "schema",
              "sortDF",
              "select",
              "selectExpr",
              "toRDD",
              "where")

exportClasses("Column")

exportMethods("asc",
              "desc",
              "first",
              "last",
              "lower",
              "upper",
              "abs",
              "sqrt",
              "min",
              "max",
              "sum",
              "avg",
              "mean",
              "isNull",
              "isNotNull",
              "alias",
              "cast",
              "approxCountDistinct",
              "countDistinct",
              "sumDistinct")

export("cacheTable",
       "clearCache",
       "createExternalTable",
       "jsonFile",
       "jsonRDD",
       "loadDF",
       "parquetFile",
       "sql",
       "table",
       "tableNames",
       "tables",
       "uncacheTable")

export("sparkRSQL.init")
export("print.structType",
       "print.structField")
