span.status_square {
    width:10px;
    height:10px;
    border:1px solid grey;
    display:inline-block;
    padding-left: 0px;
    cursor: pointer;
}
div.squares{
    float:right;
    font-size: 1;
}
div.task_row{
}
span.success{
    background-color:green;
}
span.started{
    background-color:lime;
}
span.error{
    background-color:red;
}
.tooltip-inner {
    text-align:left !important;
    font-size: 12px;
}
input#execution_date {
    margin-bottom: 0px;
}
.modal{
    margin-top:5000px;
}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}
input, select {
    margin: 0px;
}
.code {
    font-family: monospace;
}

#sql {
    border: 1px solid #CCC;
    border-radius: 5px;
}
.ace_editor div {
    font: inherit!important
}
#ace_container {
    margin: 10px 0px;
}
#sql_ace {
    visibility: hidden;
}
table.dataframe {
    font-size: 12px;
}
table.dataframe tbody tr td {
    padding: 2px;
}
table.dataframe.dataTable thead > tr > th {
    padding: 10px 20px 10px 10px;
}
table.dataTable.dataframe thead .sorting {
    background: url('sort_both.png') no-repeat center right
}
table.dataTable.dataframe thead .sorting_desc {
    background: url('sort_desc.png') no-repeat center right
}
table.dataTable.dataframe thead .sorting_asc {
    background: url('sort_asc.png') no-repeat center right
}
.no-wrap {
    white-space: nowrap;
}
div.form-inline{
    margin-bottom: 5px;
}

body div.panel {
    padding: 0px;
}
