#svg_container{
   // overflow: scroll;
}
.node text {
  font: 11px sans-serif;
  pointer-events: none;
}
path.link {
  fill: none;
  stroke: #3182bd;
  stroke-width: 1.5px;
  opacity: 0.5;
}
g.tick line{
  shape-rendering: crispEdges;
}
rect.state {
    stroke: black;
    shape-rendering: crispEdges;
    cursor: pointer;
}
rect.undefined {
    fill: white;
}
rect.success {
    fill: green;
}
rect.running {
    fill: lime;
}
rect.failed {
    fill: red;
}
rect.queued {
    fill: gray;
}
rect.shutdown {
    fill: blue;
}
rect.upstream_failed {
    fill: orange;
}
rect.up_for_retry {
    fill: gold;
}
rect.skipped {
    fill: pink;
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
}
.axis text {
    font: 11px sans-serif;
}

g.parent circle {
    cursor: pointer;
}

g.node.collapsed circle {
    stroke: #444;
    stroke-width: 4px;
}
circle {
    stroke: blue;
    fill: white;
    stroke-width: 1.5px;
}
g.axis path {
    shape-rendering: crispEdges;
}
