Package: [[deb.pkg.name]]
Version: [[version]]-[[buildNumber]]
Section: misc
Priority: extra
Architecture: all
Maintainer: Matei Zaharia <matei.zaharia@gmail.com>
Description: [[name]]
Distribution: development
